.article-container{
    max-width: 46vw;
    margin: auto;
}

@media (max-width: 57rem){
    .article-container{
        max-width: 70vw;
    }
}

@media (max-width: 40rem){
    .article-container{
        max-width: 90vw;
    }
}

.article-container *{
}

.article-title{
    margin-top: 10px;
    font-size: 2.5rem;
}

.article-description{
    margin-bottom: 20px;
    color: #656161;
}

.article-content{
    font-size: 18px;
    color: #2f2d2d
}

.article-para{
    margin-bottom: 20px;
}

.article-img{
    width: 100%;
    padding: 20px 0;
}