.blog-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.blog-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-self: center;
  overflow: hidden;
  max-width: 60vw;
  min-height: 30vh;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
}

@media (max-width: 57rem) {
  .blog-card {
    max-width: 80vw;
    grid-template-columns: 1fr 1fr;
  }
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.blog-image {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: 100%; /* Makes the image take up the full height of its container */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.blog-title {
  font-size: 1.25rem;
  color: #333;
  margin: 0 0 8px;
  font-weight: bold;
}

.blog-description {  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
  margin: 0 0 16px;
}

@media (max-width: 30rem) {
  .blog-container {
    gap: .7rem;
    padding: .7rem 0;
  }
  .blog-card {
    max-width: 97vw;
    min-height: 20vh;
  }
  .blog-description {
    display: none;
  }
}

.blog-footer {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.blog-read-more {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.2s;
}

.blog-read-more:hover {
  color: #0056b3;  
  text-decoration: underline;
}
