.bar-container, 
.bar-container * {
  position: static;
  z-index: 1;
}

.chart{
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #ebebeb;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.chartTitle,.chartDes{
    margin: 10px;
}

@media (max-width: 57rem){
    .chart{
        grid-row: 1;        
    }
  }

.pie-container{
  margin: 0 7%;
}

.pie-chart {
    width: 100%;
    height: 400px;
  }

  @media (max-width: 57rem) {
    .pie-chart {
      height: 300px;
    }
  }
  
  .sidebar{
    border-radius: 10px;
    min-width: 120px;
    background-color: #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .radio-title{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #2378c3;
  }

  .radio-group{

  }

  .radio-btn{
    margin: 10px;
  }