.chart{
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #ebebeb;
    box-shadow: 0 2px 5px #0000001a;
}

.chartTitle,.chartDes{
    margin: 10px;
}

@media (max-width: 57rem){
    .chart{
        grid-row: 1;        
    }
  }

.pie-container{
  margin: 0 7%;
}

.pie-chart {
    width: 100%;
    height: 400px;
  }

  @media (max-width: 57rem) {
    .pie-chart {
      height: 300px;
    }
  }
  
  .sidebar{
    border-radius: 10px;
    min-width: 120px;
    margin-top: 40px;
    background-color: #eaeaea;
    box-shadow: 0 2px 5px #0000001a;
    overflow: hidden;
  }

  .check-title{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #2378c3;
  }
  
  .check-group{
    display: flex;
    flex-direction: column;
  }
  
  .check-option{
    padding: 10px;
  }

  .check-option:hover{
    background-color: #e1dfdf;
  }
  
  .check-option:active{
    background-color: #d1cfcf;
  }
  
  .check-option span{
    margin: 0 10px;
  }
  