
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: #e7e7e7;
  }
  
  .get-contacts{
    display: flex;
    width: 95%;
    padding: 10px;
    justify-content: space-between;
  }
  
  .socials{
    text-align: center;
  }
  
  .footer-icons{
    display: flex;
    padding: 5px;
    gap: 8px;
  }
  
  .footer-icon-img{
    overflow: visible;
    display: block;
    width: 2.1rem;
    border-radius: 5px;
    padding: 5px;
    fill: #1d1c1c;
  }
  
  .footer-icon-img:hover{
    background: #4e4e4e;
    fill: #cacaca;
  }
  
  .footer-icon-img:active{
    background: #838383;
  }
  
  .copy-right{
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    width: 70%;
    padding: 10px 0;
    color: #505050;
    border-top: 1px solid #aaaaaa;
  }