.title{
    box-sizing: content-box;
    height: 80px;
    display: flex;
    font-size: 3.5rem;
    gap: 5px;
    font-weight: bolder;
}

@media (max-width: 78rem){
    .title{
        font-size: 2.2rem;        
    }
  }

  @media (max-width: 48rem){
    .title{
        font-size: 1.8rem;        
    }
  }


.title *{
    /* border: 1px solid red; */
}

.start-word, .end-word{
    overflow: hidden;
}

.start-word span, .end-word span{
    display: block;
    height: 100%;
    color: #0088ff;
    animation: spin_words 20s infinite;
}

.start-word span{
    animation-delay: 2s;
    text-align: end;
}

.end-word span{
    animation-delay: 4.5s;
    text-align: start;
}

@media (max-width: 40rem){
    .title{
        flex-direction: column;
        height: 130px;  
        gap: 0; 
    }

    .title span{
        text-align: start;
    }
}

@media (max-width: 20rem){
    .title{
        height: 100px;
        font-size: 1.3rem;        
    }
  }

@keyframes spin_words{
    10%{
        transform: translateY(-110%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-210%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-310%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-410%);
    }
    100%{
        transform: translateY(-400%);
    }
}