.title{
    box-sizing: content-box;
    height: 80px;
    display: flex;
    font-size: 3.5rem;
    font-weight: bolder;
}

.title *{
    /* border: 1px solid red; */
}

.start-word, .end-word{
    overflow: hidden;
}

.middle-word{
    padding: 0 10px;
}

.start-word span, .end-word span{
    display: block;
    height: 100%;
    color: #0088ff;
    animation: spin_words 16s infinite;
}

.start-word span{
    animation-delay: 2s;
    text-align: end;
}

.end-word span{
    animation-delay: 4s;
    text-align: start;
}

@keyframes spin_words{
    10%{
        transform: translateY(-110%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-210%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-310%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-410%);
    }
    100%{
        transform: translateY(-400%);
    }
}