
.updates-container{
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 350px;
    background: #ededed;
    box-shadow:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  
  .updates-header {
    background-color: #2378c3;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .updates {
    padding: 20px;
  }
  
  .update {
    margin-bottom: 15px;
  }
  
  .update:last-child {
    margin-bottom: 0;
  }
  
  .update-title {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .update-date {
    font-size: 0.7rem;
    color: #555;
    margin-bottom: 3px;
  }
  
  .update-content {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
    max-height: 90px;
    font-size: 0.8rem;
    color: #383838;
  }
  
  .read-more {
    color: #007bff;
    font-size: 0.7rem;
  }
  
  .read-more:hover {
    text-decoration: underline;
    color: #0b56a5;
  }

  .view-blogs {
    text-align: center; 
    margin: 10px 0;
  }
  
  .view-blogs-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .view-blogs-link:hover {
    color: #0056b3;
  }
  