*{
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f1f1f1;
}

nav {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  background-color: #d6d1d1;
}

.header-logo{
  margin: 0 15px;
}

.logo-img{
  width: 3.8rem;
}

.options{
  display: flex;
  justify-content: center;
}

.nav-links {
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 1.2rem;
  font-weight:500;
  padding: 15px 10px;
  border-radius: 5px;
  background: #ebe7e7;
}

.nav-icon{
  width: 1.5rem;
  margin-right: 5px;
  fill: #044d91;
}

main {
  text-align: center;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 58vh;
  background-image: url(./src/assets/img/Intro_bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.title {  
  font-size: 3em;
  font-weight: bolder;
}

.search-bar {
  display: flex;
  margin: 15px;
  line-height: 28px;
  width: 300px;
  align-items: center;
  position: relative;
 }
 
 .input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border-radius: 8px;
  outline: none;
  color: #080716;
  border: 1px solid #b8b5b5;
  background-color: #e9e9e9;
 }
 
 .input::placeholder {
  color: #939397;
 }
  
 .icon {
  position: absolute;
  fill: #9e9ea7;
  margin: 0 5px;
  width: 2rem;
  height: 2rem;
 }
 
.info-section{
  padding: 0 7%;
  margin: 20px 0;
}

.updates, .cards {
  padding: 20px;
  border-radius: 5px;
  background-color: #cfcfcf;
}

.updates {
  width: 200px;
  text-align: left;
  float: left;
}

.record {
  margin: 10px 0;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.cards {
  display: inline-block;
  width: 700px;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  height: 140px;
  border-radius: 5px;
  background-size: cover;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.one{
  background-image: url('./src/assets/img/Financial.jpg');
}
.two{
  background-image: url('./src/assets/img/Funding.jpeg');
}
.three{
  background-image: url('./src/assets/img/Policies.webp');
}
.four{
  background-image: url('./src/assets/img/Public\ Services.jpeg');
}
.five{
  background-image: url('./src/assets/img/Employment1.webp');
}
.six{
  background-image: url('./src/assets/img/Projects.jpg');
}

.card div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
}

footer{
  height: 100px; 
  background-color: #bdb9b9;
}